<div class="container">

  <!--Form with header-->
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

    <div class="card-header">
      <div class="bg-light text-center">
        <h3 *ngIf="!event.id; else modify">Új esemény létrehozása</h3>
        <ng-template #modify><h3>Esemény szerkeztése</h3></ng-template>
      </div>
    </div>
    <!--card-body-->
    <div class="card-body">
      <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="esemeny">Esemény címe:</label>
          <input type="text" class="form-control mb-3" id="esemeny" placeholder="Esemény címe"
          [(ngModel)]="event.name" name="name" required #name="ngModel" [disabled]="!editForm">
          <alert type="danger" *ngIf="name.touched && name.invalid">Kötelező mező!</alert>
        </div>

        <div class="form-group">
          <label for="idopont">Esemény időpontja</label>
          <input type="date" class="form-control mb-3" id="idopont" placeholder="Esemény időpontja"
                 [(ngModel)]="event.date" name="date" required #date="ngModel" [disabled]="!editForm">
          <alert type="danger" *ngIf="date.invalid && date.touched">Kötelező mező!</alert>
        </div>

        <div class="form-group ">

          <div class="form-group  mt-3">
            <label for="eventPicUrl">Válassz képet az eseményhez</label>
            <input type="text" class="form-control mb-3" id="eventPicUrl" placeholder="Eseményhez tartozó kép URL-je"
                   [(ngModel)]="event.pictureURL" name="pictureUrl" required #picUrl="ngModel" [disabled]="!editForm">
            <alert type="danger" *ngIf="picUrl.invalid && picUrl.touched">Kötelező mező!</alert>
          </div>
        </div>

        <div class="form-group">
          <label for="leiras">Esemény leírása</label>
          <textarea class="form-control" placeholder="Esemény leírása" id="leiras"
                    [(ngModel)]="event.description" name="description" required #descr="ngModel" [disabled]="!editForm"></textarea>
          <alert type="danger" *ngIf="descr.invalid && descr.touched">Kötelező mező!</alert>
        </div>
        <div class="text-center mb-3">
          <button *ngIf="editForm" class="btn btn-primary btn-lg" type="submit"
                  [disabled]="eventForm.invalid">Mentés</button>
          <button *ngIf="!editForm && userService.isLoggedin" class="btn btn-primary btn-lg" type="submit"
                  (click)="editForm = true">Szerkeztés</button>
          <button *ngIf="!userService.isLoggedin" class="btn btn-primary btn-lg" type="submit"
                  (click)="navigateBack()">Vissza</button>
        </div>
      </form>
    </div>
  </div>

</div>




